@using BlazorPopups.Core.Services
@using System.Threading.Tasks
@inject PopupService Popup
@implements IDisposable

<link href="_content/BlazorPopups.Core/css/popup.css" rel="stylesheet" />

@if (Visible)
{
    <div class="popup">
        <p>@Message</p>
        <button @onclick="() => Close()">X</button>
        <button @onclick="Close">X</button>
    </div>
}

@code {
    private bool Visible = false;
    private string Message = "";

    protected override void OnInitialized()
    {
        Popup.OnShow += ShowPopup;
    }

    void ShowPopup(string msg)
    {
        InvokeAsync(() =>
        {
            Message = msg;
            Visible = true;
            StateHasChanged();

        });
    }
    public void Dispose()
    {
        Popup.OnShow -= ShowPopup;
    }
    async Task Close()
    {
        System.Console.WriteLine("Close()");
        Message = "";
        Visible = false;
        Console.WriteLine("Message: " + Message);
        Console.WriteLine("Visible: " + Visible);
        await InvokeAsync(StateHasChanged);
    }
}